<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>teste</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="scripts/script.js"></script>
    <link href="styles/style.css" rel="stylesheet" />
</head>
    <nav>
        <div>
        <h3>Simulados de 2008</h3>
            <ul>
                <li><a href="#">Simulado 10</a></li>
                <li><a href="#">Simulado 9</a></li>
                <li><a href="#">Simulado 8</a></li>
                <li><a href="#">Simulado 7</a></li>
                <li><a href="#">Simulado 6</a></li>
                <li><a href="#">Simulado 5</a></li>
                <li><a href="#">Simulado 4</a></li>
                <li><a href="#">Simulado 3</a></li>
                <li><a href="#">Simulado 2</a></li>
                <li><a href="#">Simulado 1</a></li>
            </ul>
        </div>
    </nav>
<body ng-app="myModule">
    <div ng-controller="myController">
        Entre com sua Matrícula : <input type="text" ng-model="searchText.matricula" placeholder="Pesquisar matricula" />
        <br><br><br><br><br>
        <span style="width:100%" onclick="openModal()" class="enviar-amigo cursor">Enviar para um amigo</span>
                <div id="myModal" class="modal">
                  <span class="close cursor" onclick="closeModal()">&times;</span>
                  <div class="modal-content">
                      <H3 align="center">Hello World!</H3>
                  </div>
                </div>
                <script>
                function openModal() {
                  document.getElementById('myModal').style.display = "block";
                }

                function closeModal() {
                  document.getElementById('myModal').style.display = "none";
                }
                </script>
        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Nota</th>
                    <th>Matrícula</th>
                    <th>Especialidade</th>
                    <th>Turma</th>
                    <th>Filial</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchText">
                    <td> {{ employee.posicao }} </td>
                    <td> {{ employee.nota }} </td>
                    <td> {{ employee.matricula  }} </td>
                    <td> {{ employee.especialidade  }} </td>
                    <td> {{ employee.turma  }} </td>
                    <td> {{ employee.filial  }} </td>
                </tr>
            </tbody>
        </table>
                    <div class="pagination">
                      <a href="#">&laquo;</a>
                      <a href="#">1</a>
                      <a href="#">2</a>
                      <a href="#">3</a>
                      <a href="#">4</a>
                      <a href="#">5</a>
                      <a href="#">6</a>
                      <a href="#">&raquo;</a>
    </div>
    </div>

<span class="aumentar">blabla</span>
</body>
</html>
<!---
<section>
      
    </section>
<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>    

</body>
</html> -->
    